#admin.row
  .col-md-9
    %header
      %h1 Admin Lounge
    %p
      Welcome to Ticketee's Admin Board.

  .col-md-3
    %h2 Admin Links
    %ul.nav.nav-stacked
      %li= link_to 'Users', admin_users_path
